/*left panel*/
.left .accordion .titled-pane .title {
    -fx-background-color: #2A2A2A;
    -fx-background-radius: 15;
}

.left .accordion .titled-pane .title:hover {
    -fx-background-color: #00B1EB;
}

.left .accordion .titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: #79C5FF;
}

.left .accordion .titled-pane .title .arrow-button .arrow {
    -fx-background-color: white;
}

/*Buttons*/
.left .button {
    -fx-text-fill: #1097FF;
    -fx-background-color: transparent;
}

.left .button:hover {
    -fx-base: #1097FF;
    -fx-underline: true;
}

.left .button:focused {
    -fx-color: -fx-focused-base;
    -fx-border-color: -fx-focus-color;
    -fx-border-style: dotted;
    -fx-border-width: 3px;
    -fx-border-radius: 15;
}

/*right panel*/
.right {
    -fx-background-color: lightgrey;
    /* -fx-border-width: 0 0 0 5px;
     -fx-border-color: #CFCFCF;*/
}