/*Paneles*/
.grid {
    -fx-background-color: #2A2A2A;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.grid > *.content{
    -fx-border-color: #2A2A2A;
}

/*menu bar*/
.menu-bar{
    -fx-background-color: black;
}

.menu-bar .menu-button {
    -fx-background-radius: 15 15 15 0;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background-color: #00B1EB;
}

.menu-bar .menu .label {
    -fx-text-fill: ghostwhite;
}

.menu-bar .context-menu {
    -fx-background-radius: 0 15 15 15;
}

.menu-bar .context-menu {
    -fx-background-color: #BCBCBC;
}

.menu-bar .context-menu .menu-item{
    -fx-background-radius: 0 15 15 15;
}

.menu-bar .context-menu .menu-item .label{
    -fx-text-fill: black;
}

/*labels*/
.label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13;
   /* -fx-font-family: "Segoe UI Light";*/
}

/*Table View*/
.table-view .column-header {
    -fx-background-color: #BCBCBC;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    /*-fx-font-family: "Segoe UI Light";*/
    -fx-text-fill: Black;
}
.radio-buttom{
    -fx-text-fill: White;
}